.canvas {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  position: absolute;
}

.dot {
  border-radius: 50%;
  position: absolute;
}

.selected {
  stroke: red;
}

.temp {
  position: absolute;
}

#debugPanel {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  z-index: 1000;
}

#debugContent {
  word-wrap: break-word;
  max-width: 800px;
  /* Adjust as needed */
  max-height: 800px;
  /* Adjust as needed */
  overflow: scroll;
  /* or any other desired value */
}

.movableBox {
  max-width: 80%;
  padding: 10px;
  border-radius: 5px;
  font-family: system-ui;
}

.collission_line {
  stroke: rgba(0, 0, 0, 0);
}



body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* This will affect the scrollbar globally */
::-webkit-scrollbar {
  width: 0.5vh;
  /* Adjust scrollbar width */
  height: 5px;
  /* Adjust scrollbar height */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* Handle color */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color of the handle on hover */
}





.settings_menu {
  position: fixed;
  bottom: 7vh;
  right: 0px;
  background: white;
  border: 0.25vh solid black;
  margin-right: 1vh;
  padding: 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.settings_inner {
  display: flex;
  flex-direction: row;
  padding: 2px;
  margin-bottom: 1vh;
  align-items: center;
  justify-content: space-between;
}

.checkmark {
  width: 3vh;
  height: 3vh;
  border: 0.25vh solid #58585859;
  border-radius: 0;
  background-color: white;
  transition: all 0.1s ease-in-out;
}

.checkmark_active {
  width: 3vh;
  height: 3vh;
  border: 0.25vh solid #ffffff94;
  border-radius: 0;
  background-color: #121212;
  transition: all 0.1s ease-in-out;
}


.settings_button {
  width: 5vh;
  height: 5vh;
  border: 0.25vh solid #58585859;
  border-radius: 0;
  background-color: white;
  transition: all 0.1s ease-in-out;
}

.settings_button_active {
  width: 5vh;
  height: 5vh;
  border: 0.25vh solid #ffffff94;
  border-radius: 0;
  background-color: #121212;
  transition: all 0.1s ease-in-out;
}
.settings_button:hover, .checkmark:hover {
  background-color: #ffe1bf;
}
.settings_button:hover, .checkmark:hover {
  background-color: #FFB385;
}