.canvas {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  position: absolute;
}

.dot {
  border-radius: 50%;
  position: absolute;
}

.selected {
  stroke: red;
}

.temp {
  position: absolute;
}

#debugPanel {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  z-index: 1000;
}

#debugContent {
  word-wrap: break-word;
  max-width: 800px;
  /* Adjust as needed */
  max-height: 800px;
  /* Adjust as needed */
  overflow: scroll;
  /* or any other desired value */
}

.movableBox {
  max-width: 80%;
  padding: 10px;
  border-radius: 5px;
  font-family: system-ui;
}

.collission_line {
  stroke: rgba(0, 0, 0, 0);
}