@import url('global.css');



.canvas_toolbar {
  user-select: none;
  position: fixed;
  background-color: var(--background-color);
  font-family: Arial, sans-serif;
  z-index: 1000;
  width: 100%;
  height: 6vh; /* Adjusted height to accommodate margins */
  bottom: 0;
  border-top: var(--background-color2) solid 0.25vh;
}

#drawing {
  background-color: var(--background-color);

}

.edit_area {
  height: 100%;
  font-size: 0;
  float: right;
  width: 30vh;
  border-left: var(--background-color2) solid 0.25vh;
}


.button {
  display: inline-flex;
  align-items: center; /* aligns items vertically in the center */
  justify-content: center; /* aligns items horizontally in the center */
  vertical-align: middle; /* aligns content vertically in the middle */
  width: 5vh;
  height: 5vh;
  border: 0;
  outline: none;
  padding: 0.75vh;
  background-color: var(--background-color);
  border-radius: var(--radius);
  margin: 0.5vh 0.5vh;
  margin-right: 0;
  transition: all 0.1s ease-in-out;
}
.button_active {
  display: inline-flex;
  align-items: center; /* aligns items vertically in the center */
  justify-content: center; /* aligns items horizontally in the center */
  vertical-align: middle; /* aligns content vertically in the middle */
  width: 5vh;
  height: 5vh;
  border: 0;
  outline: none;
  padding: 0.75vh;
  background-color: var(--background-color2);
  border-radius: var(--radius);
  margin: 0.5vh 0.5vh;
  margin-right: 0;
  transition: all 0.1s ease-in-out;
  color: white;
}

  .button:hover {
    background-color: var(--background-color2);
  }
  .button:active {
    background-color: var(--background-color3);
  }
  .button_active:hover {
    background-color: var(--background-color3);
  }
  .button_active:active {
    background-color: var(--background-color3);
  }

  
  